<div class="container">
    <h6>Encuesta de Plan de Movilidad segura</h6>
    <p> Los campos marcados con <span class="required">*</span> son obligatorios</p>

    <div class="container">
        <div class="alert alert-success" role="alert" *ngIf="success">
            <h4 class="alert-heading">¡Exitoso!</h4>
            <p>Encuesta enviada satisfactoriamente, gracias por participar</p>    
        </div>
        <form *ngIf="formData" [formGroup]="formData" >
            <div class="row margin-row">
                <div class="col-md-6">
                    <label  class="form-label">Funcionario:</label>
                    <input type="text" class="form-control" formControlName="employee">
                </div>
                <div class="col-md-6">
                    <label  class="form-label">Correo:</label>
                    <input type="email" class="form-control" formControlName="email">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.email">* No es un formato válido</div>
                    </div>
                </div>
            </div>
            <div class="row margin-row">
                <div class="col-md-4">
                    <label  class="form-label">Número de identificación: <span class="required">*</span></label>
                    <input type="email" class="form-control" formControlName="id">
                    <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                        <div *ngIf="f.id.errors.required">* Campo requerido</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label  class="form-label">Ciudad: <span class="required">*</span></label>
                    <input type="email" class="form-control" formControlName="city">
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">* Campo requerido</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label  class="form-label">Localidad donde vive: <span class="required">*</span></label>
                    <input type="email" class="form-control" formControlName="locality">
                    <div *ngIf="submitted && f.locality.errors" class="invalid-feedback">
                        <div *ngIf="f.locality.errors.required">* Campo requerido</div>
                    </div>
                </div>
            </div>
            <div class="row margin-row">
                <div class="col-md-4">
                    <label  class="form-label">Barrio: <span class="required">*</span></label>
                    <input type="email" class="form-control" formControlName="neighborhood">
                    <div *ngIf="submitted && f.neighborhood.errors" class="invalid-feedback">
                        <div *ngIf="f.neighborhood.errors.required">* Campo requerido</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label  class="form-label">Dirección: <span class="required">*</span></label>
                    <input type="email" class="form-control" formControlName="address">
                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                        <div *ngIf="f.address.errors.required">* Campo requerido</div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row margin-row">
                <div class="col-md-4 text-right">
                    ¿Tienes alguna de las condiciones o enfermedades relacionadas?
                </div>
                <div class="col-md-8">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="question" value="yes">
                        <label class="form-check-label" >
                         SI
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="question" value="no">
                        <label class="form-check-label" >
                          NO
                        </label>
                    </div>
                    <div *ngIf="submitted && f.question.errors" class="invalid-feedback">
                        <div *ngIf="f.question.errors.required">* Campo requerido</div>
                    </div>
                    <ul>
                        <li>Gestante en tercer trimestre (7 a 9 meses)</li>
                        <li>Diabetes</li>
                        <li>Hipertensión arterial</li>
                        <li>Enfermedad cardiovascular (enfermedad corona e infarto del corazón)</li>
                        <li>Enfermedad cerebrovascular (accidente cerebrovascular)</li>
                        <li>EPOC (Enfermedad Pulmonar Óbstructivo Crónico)</li>
                        <li>Enfermedad respiratoria cronica (ASMA, SAMOS)</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 text-right margin-row">
                <button class="btn btn-primary" type="submit" (click)="validate()">Enviar respuestas</button>
            </div>
        </form>
    </div>
 </div>