.padding-header{
    padding: 2%;
}
.required{
    color: red;
}
.form-control{
    background: #eee;
}
.form-control:focus{
    box-shadow: none;
    border: 1px solid #eee;
}
.margin-row{
    margin: 10px 0px;
}
.invalid-feedback{
    display: block;
}